.about-header{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.about-header img{
    width: 80px;
}

.about-mhw{
    padding: 0 6rem;
    line-height: 2;
}
.about-mhw h3{
    color: brown;
}
.about-mhw img{
    display: block;
    text-align: center;
    /* width: 50%; */
}

.about-system-rec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}
.system-minimum, .system-recommended{
    line-height: 1.3;
    font-size: .8rem;
}
.system-minimum p span, .system-recommended p span{
    color: gray;
}