.armors-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    text-align: center;
}
.armor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #33343a;
    border-radius: 5px;
    padding: 0 1rem;
    transition: .5s;
    min-height: 150px;
    background-image: url('../img/background.webp');
    background-size: cover;
    color: #d0d0d0;

}
.armor-info{
    text-align: left;
}
.armor-info h3{
    max-width: 150px;
}
.armor-info h5{
    margin: 0;
}
.armor-info p{
    margin: 0 0 1rem;
}
.armor:hover{
    position: relative;
    transform: scale(1.02);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
/* .armor:hover .armor-image{
    position:absolute;
    right: 0;
    width: 120px;
} */

.search-item{
    padding: .7rem 1rem;
    width: 100%;
}
.main-search{
    display: flex;
    gap: 1rem;
}
.search-select{
    padding: .7rem 1rem;
    border-radius: 5px;
    color: #424242;
}
.main-search-select{
    display: flex;
    gap: .5rem;
}