.blog-header{
    text-align: center;
    margin: 5rem 0;
}
.blog-header p{
    padding: 0 15%;
}

.blog-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.blog-card img{
    width: 100%;
    border: 1px solid #33343a;
}
.blog-card-date{
    font-size: .8rem;
}