.main-event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.main-right h1 {
  margin: 0;
}

.event-each {
  border: 1px solid #33343a;
  padding: 1rem;
  border-radius: 5px;
}
.event-header {
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
}
.event-title h2 {
  color: white;
}
.event-each p {
  font-size: 0.8rem;
}
