@media only screen and (max-width: 600px) {
    .home-header h1{
        font-size: 1.5rem;
    }
    .home-header p{
        font-size: 1rem;
        padding: 0;
    }
    .home-download-img {
        height: 180px;
    }
    .home-download-img-layer h2{
        font-size: 1.1rem;
    }
    .home-download-img-layer button{
        padding: .8rem 1rem;
        border: transparent;
    }
    .home-community-pattreon{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }
    .pattreon-right{
        justify-content: center;
    }
    .pattreon-right img{
        width: 50%;
    }
    .pattreon-left h1{
        font-size: 1.2rem;
    }
}