/* .main-content{
    padding: 2rem 5%;
    background-color: #f8fafc;
} */

a{
    color: black;
    text-decoration: none;
}

.navbar{
    padding: 0 5%;
    position: sticky;
    top: 0%;
    border: 1px solid lightgray;
    border-width: 0 0 1px 0;
    background-color: #f8fafc;
    z-index: 100;
}
.navbar-sticky{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}
.nav-brand{
    display: flex;
    align-items: center;
}
.nav-brand a img{
    width: 150px;
}

.nav-navigate button{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .6rem 1.5rem;
    border: transparent;
    background-color: #010409;
    color: white;
    font-size: 2;
    font-weight: 600;
    font-family: 'Poppins';
    cursor: pointer;
}
.nav-navigate button i {
    font-size: 1.3rem;
}