body{
    padding: 0 5%;
    background-color: #f8fafc;
}

a{
    color: black;
    text-decoration: none;
}

.navbar{
    position: sticky;
    top: 0%;
    border: 1px solid lightgray;
    border-width: 0 0 1px 0;
    z-index: 100;
}
.navbar-sticky{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.nav-brand{
    display: flex;
    /* gap: 1rem; */
    align-items: center;
}
.nav-brand h2{
    margin: 0;
}