.sidebar{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: sticky;
    top: 18%;
}
.sidebar-toggle{
    display: none;
}
.sidebar h3{
    margin: .5rem 0;
}

.sidebar-stick hr{
    margin: 1.2rem 0;
}

.sidebar-data-item, .sidebar-main-item, .sidebar-blog-item, .sidebar-download-item{
    cursor: pointer;
    padding: 0 3rem;
}

.sidebar-data-item p img, .sidebar-main-item p img, .sidebar-blog-item p img, .sidebar-download-item p img{
    width: 22px;
}
.sidebar-main-item p i, .sidebar-download-item p i{
    font-size: 22px;
}
.sidebar-data-item p, .sidebar-main-item p, .sidebar-blog-item p, .sidebar-download-item p{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
    font-family: "Poppins";
    font-weight: 400;
    font-size: .9rem;
    color: #c6c6c7;
}

.sidebar-download-item p{
    color: #009eec;
    font-weight: bold;
}

.linkTo p{
    margin: .5rem 0;
}