@media only screen and (max-width: 600px) {
    .sidebar{
        background-color: #1c1d21;
        transition: .5s;
    }
    .sidebar-toggle{
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        background-color: #1c1d21;
        z-index: 999;
    }
    .hide{ 
        position: fixed;
        /* top: 35%; */
        top: 100%;
        left: 0;
        right: 0;
    }
    .show{
        position: fixed;
        top: 30%;
        /* top: 100%; */
        left: 0;
        right: 0;
    }
}