.main-tips{
    padding: 2rem 15%;
}

.tips-title-autor{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.tips-title-autor p{
    margin: 0;
}
.tips-title-image{
    text-align: center;
}
.tips-title-autor img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.main-tips h1{
    font-size: 3rem;
    margin-top: 0;
}

/* CONTENT */
.tips-content{
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}