@media only screen and (max-width: 600px) {
    .wepaon-detail-info-sword{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .weapon-detail-type-rank{
        align-items: center;
    }
    .wepaon-detail-info-sword img{
        width: 40px;
        height: 40px;
    }
    .weapon-detail-core{
        display: block;
    }
    .weapon-sets{
        padding: 1rem;
    }
    .weapon-sets-display{
        display: flex;
        flex-direction: column;
        padding: .5rem 0;
    }
    .weapon-sets-display a{
        width: 100%;
    }
    .weapon-stats{
        display: flex;
        flex-direction: column;
    }
    .weapon-durability{
        padding: 1rem;
    }
    .weapon-durability-table{
        overflow: scroll;
    }
}