
.weapon-detail-main{
    padding: 1rem 0;
    /* display: grid;
    grid-template-columns: max-content 1fr; */
    border-radius: 5px;
    /* gap: 1rem; */
}
.weapon-detail-core{
    padding: 1rem 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr max-content;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-image: url('../img/background.webp');
    background-size: cover;
    color: #d0d0d0;
    border-radius: 5px;
    background-color: #eaeaea;
}
.weapon-detail-info{
    text-align: left;
}
.wepaon-detail-info-sword{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.weapon-detail-info h3{
    margin-bottom: .5rem;
}
.weapon-detail-info p{
    margin-top: 0;
}
.weapon-detail-img img{
    width: 200px;
    margin: 0 1rem;
}
.weapon-detail-type-rank{
    border-radius: 5px;
    background-color: rgba(44, 32, 30, 0.6);
    padding: .3rem 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.weapon-detail-type-rank hr{
    border-color: #eaeaea;
}
.weapon-detail-type, .weapon-detail-rank, .weapon-detail-rarity{
    text-align: center;
    padding: .5rem;
}
.weapon-detail-type h3, .weapon-detail-rank h3, .weapon-detail-rarity h3{
    text-transform: capitalize;
    margin: .5rem 0;
}
.weapon-detail-type p, .weapon-detail-rank p, .weapon-detail-rarity p{
    margin: 0;
    color: rgb(145, 145, 145);
}

.weapon-detail-stat{
    background-color: #1c1d21;
    border-radius: 5px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.weapon-detail-stat h3{
    margin-top: 0;
    margin-bottom: 1rem;
}


.weapon-skills-craft{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
}
.weapon-craft{
    display: flex;
    gap: .5rem;
    height: max-content;
}
.weapon-craft p{
    color: #eaeaea;
    margin: .2rem 0;
}


.weapon-sets{
    /* border: 1px solid lightgray; */
    background-color: #1c1d21;
    border-radius: 5px;
    text-align: center;
    margin: 1rem 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: .3rem 2rem 1rem;
}
.weapon-sets h3{
    text-align: left;
    margin: 1rem 0 .5rem;
}
.weapon-sets-display{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
}
.weapon-set{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem 1rem;
    background-image: url('../img/background.webp');
    background-size: cover;
    color: #d0d0d0;
    border-radius: 5px;
}
.weapon-set-info{
    text-align: left;
}
.weapon-set p{
    text-align: left;
    margin: 0 0 .3rem;
}

.weapon-stats{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}
.weapon-stats-right, .weapon-stats-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.weapon-durability{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem 2rem 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 5px;
    background-color: #1c1d21;
}
.weapon-durability img{
    width: 100%;
}
.weapon-durability p{
    margin: 0;
}
table{
    border-collapse: collapse;
    margin-bottom: 1rem;
}
table, th, td{
    border: 1px solid lightgray;
    padding: .2rem 1rem;
    text-align: center;
}
th{
    text-transform: capitalize;
}



.weapon-elements{
    padding: 1rem;
    background-color: #1c1d21;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 5px;
}
.weapon-elements h3{
    margin: 0;
}
.weapon-elements-each{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.weapon-elements-each ul{
    padding: 0 1.1rem;
    margin: 0;
}
.weapon-element h4{
    margin-bottom: 0;
    text-transform: capitalize;
}
.weapon-element p{
    margin-top: .3rem;
}